name: Secure Repo Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  security-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # SECRET SCAN
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2

      # DEPENDENCY SCAN
      - name: Install Dependencies
        run: npm install

      - name: Run npm audit
        run: npm audit --audit-level=high